[tool.black]
line-length = 100
target-version = ["py38", "py39", "py310", "py311", "py312", "py313"]
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.mypy]
python_version = "3.8"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
disallow_incomplete_defs = false
check_untyped_defs = true
disallow_untyped_decorators = false
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
implicit_reexport = false
strict_equality = true
show_error_codes = true
ignore_missing_imports = true

[tool.coverage.run]
source = ["backtrader"]
omit = [
    "*/tests/*",
    "*/test_*",
    "setup.py",
    "*/crypto_tests/*"
]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
]

[tool.bandit]
skips = ["B101", "B601"]
exclude_dirs = ["tests", "crypto_tests"]

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 121
skip = [
    "backtrader/__init__.py",
    "backtrader/indicators/__init__.py",
]

[tool.ruff]
line-length = 121
target-version = "py38"

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["E501"]

[tool.ruff.lint.per-file-ignores]
"backtrader/observers/__init__.py" = ["F403"]
"backtrader/sizers/__init__.py" = ["F403"]
"backtrader/utils/__init__.py" = ["F403"]
"backtrader/lineseries.py" = ["E743"]
"backtrader/indicators/__init__.py" = ["F403"]
"backtrader/filters/__init__.py" = ["F403"]
"backtrader/analyzers/__init__.py" = ["F403"]
"backtrader/feeds/__init__.py" = ["F403"]
"backtrader/__init__.py" = ["F401", "F403"]