matplotlib
pandas
numpy
plotly
python-dateutil
pytz
future
cython
setuptools
requests
# alphalens # cannot be installed in python3.12
scipy
pyecharts
tqdm
numba
spdlog
python-rapidjson
pytest
pytest-benchmark
pytest-sugar
pytest-cov
pytest-picked
pytest-xdist
dash