matplotlib
pandas
numpy
plotly
python-dateutil
pytz
future
cython
setuptools
requests
scipy
pyecharts
tqdm
numba
spdlog
python-rapidjson
pytest
pytest-benchmark
pytest-sugar
pytest-cov
pytest-picked
pytest-xdist
dash
ctpbee
akshare
backports.tarfile
backtrader
bt_api_py
statsmodels