matplotlib
pandas
numpy
plotly
python-dateutil
pytz
future
cython
setuptools
requests
scipy
pyecharts
tqdm
numba
spdlog
python_rapidjson
pytest
pytest_benchmark
pytest-sugar
pytest-cov
pytest-picked
pytest-xdist
dash
ctpbee
akshare